
.courseList{ 
  display: grid;
  grid-template-columns: repeat(auto-fit, 14rem);
  grid-gap: 3rem; 
  /* border: 1px solid white;  */
  justify-content: center; 
}
  
.courseTile { 
  text-align:  left;
  border: solid 1px #FFFFFF; 
  border-radius: 10px; 
  padding: 20px;
  border: 1px solid white; 
  align-content: space-between;
}

.courseNumberDescription { 
  /* border: 1px solid green;  */
}

.meetingTime{ 
  border-top: solid 1px white; 
  max-height: 3rem;
}
