.courseList {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 14rem);
  grid-gap: 3rem;
  /* border: 1px solid white;  */
  justify-content: center;
}

.courseTile {
  text-align: left;
  color: white;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid white;
  align-content: space-between;
  background-color: #282c34;
}

.courseTileselected {
  text-align: left;
  color: white;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid white;
  align-content: space-between;
  background-color: grey;
}

.courseNumberDescription {
  /* border: 1px solid green;  */
}

.meetingTime {
  border-top: solid 1px #ffffff;
  max-height: 3rem;
}

.filterButtons:hover {
  color: gray;
}
.filterButton {
  width: 14rem;
  height: 4rem;
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
  vertical-align: center;
}
.filterButton:hover {
  background-color: grey;
}
